 /* FORM */
  .dsf {
    width: 100%;
    min-height: 400px;
    /* background-color: #ed2d23; */
  }

  .dsf__group {
    display: flex;
    flex-direction: column;
  }
  .dsf__group label {
    display: none;
  }
  .dsf__group input,
  .dsf__group select {
    height: 44px;
    padding: 0.5rem;
    background-color: #ffffff;
    color: #4b5563;
    border-radius: 0.25rem;
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
  }
  .dsf__group select option {
    background-color: #ffffff;
  }
  .dsf__group input::placeholder {
    color: #9ca3af;
  }
  .dsf__group--error input::placeholder {
    color: #dc2626;
  }
  .dsf__group--error input,
  .dsf__group--error select {
    background-color: #fca5a5;
    color: #dc2626;
  }

  /* BUTTON */
  .dsf__buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    display: flex;
    width: 100%;
    gap: 1rem;
  }
  .dsf__button-next {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase;
    width: 12rem;
    border-radius: 0.75rem;
    border-width: 4px;
    border-color: #ffffff;
    border-style: solid;
    cursor: pointer;
  }
  .dsf__button-next:hover {
    background-color: #b91c1c;
  }
  .dsf__button-next:focus {
    outline: 0;
  }
  .dsf__button-prev {
    display: none;
  }

  /* PAYMENT */
  .dsf__payment {
    display: grid;
    align-items: flex-end;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1rem;
  }
  .payment-method-cc-number {
    grid-column: span 6 / span 6;
  }
  .payment-method-cc-method-name {
    display: none;
  }
  .payment-method-cc-verification-number {
    grid-column: span 3 / span 3;
  }
  .payment-method-cc-expiration {
    grid-column: span 3 / span 3;
  }
  .payment-method-cardholder-id-type {
    grid-column: span 2 / span 2;
  }
  .payment-method-cardholder-id-number {
    grid-column: span 4 / span 4;
  }
  .payment-method-cardholder-name {
    grid-column: span 6 / span 6;
  }

  /* SECURITY MESSAGE */
  .dsf__security-message {
    display: flex;
    margin-top: 1rem;
    color: #ffffff;
    display: flex;
  }
  .dsf__security-message p {
    padding-left: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
    flex: 1 1 auto;
    width: 100%;
  }
  .dsf__security-message svg {
    height: 1.25rem;
  }

 /* ERROR MESSAGE */
  .dsf__error-message {
    margin-top: 24px;
    color: #fff;
  }

  /* THANKS MESSAGE */
  .dsf__thanks-message {
    color: #ffffff;
  }

  @media screen and (max-width: 300px) {
    .payment-method-cc-verification-number {
      grid-column: span 6 / span 6;
    }
    .payment-method-cc-expiration {
      grid-column: span 6 / span 6;
    }
    .payment-method-cardholder-id-type {
      grid-column: span 6 / span 6;
    }
    .payment-method-cardholder-id-number {
      grid-column: span 6 / span 6;
    }
    .payment-method-cardholder-name {
      grid-column: span 6 / span 6;
    }
  }
